export ENV_NAME=local
export ENV_FQDN=localhost
export ENV_REPOSITORY=fu-n.net:5000/myapp-local

export ENV_STACK_NAME=myapp-local
export ENV_STACK_DEPLOY_TAG=fu-n.net:5000/myapp-local/stack

export ENV_SECRET_CERT=selfsigned
export ENV_SECRET_CERT_FQDN=localhost
export ENV_SECRET_CERT_EMAIL=admin@localhost
export ENV_SECRET_CERT_PEM=cert.pem
export ENV_SECRET_CHAIN_PEM=chain.pem
export ENV_SECRET_FULLCHAIN_PEM=fullchain.pem
export ENV_SECRET_PRIVKEY_PEM=privkey.pem
export ENV_SECRET_HTPASSWD=htpasswd
export ENV_SECRET_APIKEY=apikey

export COMPOSE_CONVERT_WINDOWS_PATHS=1 # NOTE disable windows paths
